//Variables
//Colors
$primary: rgba(255, 255, 255, 1);
$secondary: rgba(255, 255, 255, 0.658);
$red: #e63947cb;
$dark-sky-blue: rgba(140, 187, 213, 0.842);
$jet: #2b2c2c;
$transparent: rgba(0, 0, 0, 0);
//Bg-2
$orange: #e26d2c;
$purple: #b30d32;
$blue-marine: #449ba1;
//Import font
// @import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500&display=swap');
//Css
html {
    font-family: 'Roboto Mono', monospace;
    box-sizing: border-box;
    font-size: 62.5%;
    color: $primary;
}

body {
    background: url(/img/bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

button {
    text-decoration: none;
    color: $primary;
}

.flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

// Scrolls
.scroll::-webkit-scrollbar {
    width: 0;
    height: 8px;
}


/* Estilos barra (thumb) de scroll */

.scroll::-webkit-scrollbar-thumb {
    background: rgba(204, 204, 204, 0.247);
    border-radius: 4px;
}

.scroll::-webkit-scrollbar-thumb:active {
    background-color: #999999;
}

.scroll::-webkit-scrollbar-thumb:hover {
    background: #b3b3b37a;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}


/* Estilos track de scroll */

.scroll::-webkit-scrollbar-track {
    background: #e1e1e11e;
    border-radius: 4px;
}

.scroll::-webkit-scrollbar-track:hover,
.scroll::-webkit-scrollbar-track:active {
    background: #d4d4d441;
}

// btn effects
$transition-btn-hover: 0.5s;
//Up
.btns-fade-up {
    background-color: $transparent;
    transition: $transition-btn-hover;
}

.btns-fade-up:hover {
    background-color: rgba(255, 255, 255, 0.452);
}

.btns-fade-up:not(hover) {
    background-color: $transparent;
}

//in
$initial-transparent: 0.6;
.btns-fade-in {
    opacity: $initial-transparent;
}

.btns-fade-in:hover {
    opacity: 1;
    transition: $transition-btn-hover;
}

.btns-fade-in:not(hover) {
    opacity: $initial-transparent;
    transition: $transition-btn-hover;
}

// Table
.table {
    border: 5px solid $primary;
    width: 320px;
    border-radius: 16px;
    overflow: hidden;
    color: $primary;
    &-screen {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-size: 4.8rem;
        height: calc(30px + 10px + 10px + 5px + 32px + 32px);
        padding-top: 10px;
        &-control {
            color: $secondary;
            font-size: 4.2rem;
            display: flex;
            flex-direction: row;
            align-items: center;
            overflow-x: auto;
            padding: 5px 10px 2.5px 10px;
        }
        &-result {
            display: flex;
            flex-direction: column;
            justify-content: center;
            overflow-x: auto;
            text-align: right;
            padding: 0px 10px 10px 10px;
        }
    }
    &-btns {
        font-size: 2.8rem;
        padding: 10px;
        border-top: 5px solid $primary;
        width: 100%;
        height: 100%;
        text-align: center;
        &-btn {
            height: 60px;
            width: 54px;
        }
        &-single {
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid $secondary;
        }
        &-op {
            font-weight: 500;
            background-color: $secondary;
            color: $jet;
        }
        &-master {
            font-size: 2.4rem;
            font-weight: 500;
            background-color: $red;
        }
        &-equals {
            height: 100%;
            background-color: $dark-sky-blue;
            color: $jet;
            font-weight: 500;
        }
        &-0 {
            width: 100%;
        }
    }
}